# 4.2 (Exercise) Importing libraries and Python data types
** **
## Table of contents:

 1. Importing libraries
 2. Python data types <br>
    2.1 Exploring variables and datatypes <br>
    2.2 Operations with variables
** **

# 1. Importing libraries
** **

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 2. Python data types
** **

In this section we will test some data types.

## 2.1 Exploring datatypes

In [2]:
# Creating a new variable with value "2"
x = 2

In [3]:
# Testing the output
x

2

In [4]:
# printing the output with the print() function
print(x)

2

In [5]:
# Checking the datatype with the type() function
type(x)

int

This value is an integer.

In [6]:
# Creating a new variable with value "5.678"
y = 5.678

In [7]:
# Checking the datatype with the type() function
type(y)

float

This is a decimal number, thus is a float.

In [8]:
# Creating a new variable containing a string
z = 'brazil'

In [9]:
# Checking the datatype with the type() function
type(z)

str

Whenever a characters (a number or a text) is sorrounded by quotes ('), it becomes a string.

In [10]:
# Checking the datatype with the type() function
type(True)

bool

In [11]:
type(False)

bool

True and False are both boolean values.

## 2.2 Operations with variables

In [12]:
# Printing the variable
print(x)

2

In [13]:
# Performing a sum between the variable and a value
x + 4

6

In [14]:
# Performing a sum between two variables
x + y

7.678

In [15]:
# Redefining a variable
x = x + 4

In [16]:
# Printing the variable with the new value
print(x)

6

The variable is overwritten with the new value.

In [17]:
# Creating two new variables containing strings
a = 'Hello, '

In [18]:
b = 'Marley'

In [19]:
# Concatenating strings
a + b

'Hello, Marley'

In [20]:
# Comparing the equality of two variables
x == y

False

In [21]:
# Checking the datatype of an equality comparison
type(x == y)

bool