# 4.6 (Exercise) Merging "orders" and "orders products prior" dataframes
** **
## Table of contents:

1. Importing libraries <br>
2. Importing dataframes <br>
3. Merging the two dataframes
4. Exporting the new dataframe in a pickle format
** **

# 1. Importing libraries
** **

In [1]:
import pandas as pd
import numpy as np
import os

# 2. Importing dataframes
** **

In [2]:
# Creating a path variabile for the folder
path = r'C:\Users\Simone\Desktop\Career Foundry\Esercizi modulo 5\Instacart basket analysis'

In [3]:
# Importing orders dataframe from Prepared Data
df_ords = pd.read_csv(os.path.join(path, '02. Data', 'Prepared Data', 'orders_checked.csv'), index_col= False)

In [4]:
# Importing order products prior dataframe from Original Data
df_ords_prior = pd.read_csv(os.path.join(path, '02. Data', 'Original Data', 'order_products_prior.csv'), index_col = False)

In [5]:
# Checking the output of orders dataframe
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_creation,days_since_prior_order
0,1,2398795,1,2,3,7,15.0
1,2,473747,1,3,3,12,21.0
2,3,2254736,1,4,4,7,29.0
3,4,431534,1,5,4,15,28.0
4,5,3367565,1,6,2,7,19.0

In [6]:
# Removing the first column
df_ords = df_ords.drop(columns = ['Unnamed: 0'])

In [7]:
# Testing
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_creation,days_since_prior_order
0,2398795,1,2,3,7,15.0
1,473747,1,3,3,12,21.0
2,2254736,1,4,4,7,29.0
3,431534,1,5,4,15,28.0
4,3367565,1,6,2,7,19.0

In [8]:
# Checking the output of orders products prior dataframe
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [9]:
# Checking the shape of both dataframes
df_ords.shape

(3214874, 6)

In [10]:
df_ords_prior.shape

(32434489, 4)

The new dataframe has only 4 columns, but 32+ millions rows.

# 3. Merging the two dataframes

The two dataframes have different lenghts, so the best way to combine them is with a merging. <br>
Both dataframes have the order_id columns, that can be used as a key. <br>
We can also create a flag column to see if the merge was successfully.

In [11]:
# Merging the two dataframes and adding an indicator column
df_merged_large = df_ords.merge(df_ords_prior, on = ['order_id'], indicator = True)

In [12]:
# Checking the head of the new dataframe
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_creation,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2398795,1,2,3,7,15.0,196,1,1,both
1,2398795,1,2,3,7,15.0,10258,2,0,both
2,2398795,1,2,3,7,15.0,12427,3,1,both
3,2398795,1,2,3,7,15.0,13176,4,0,both
4,2398795,1,2,3,7,15.0,26088,5,1,both

In [13]:
#Checking the shape
df_merged_large.shape

(30356421, 10)

<b> Observations: </b> <br>
The merged dataframe has 30+ millions rows, and 4 new columns (product_id, add_to_cart_orde, reordered, merge). <br>
The new dataframe has less rows thant the original orders_products_prior because some order_id were missing from the order dataframe, due to the elimination of the rows with missing values. (Script 4.5)

In [14]:
# Checking the values of the indicator column
df_merged_large['_merge'].value_counts()

both          30356421
left_only            0
right_only           0
Name: _merge, dtype: int64

<b> Observations: </b> <br>
Only "both" values. It means there was a full match between the two dataframes during merge.

# 4. Exporting the new dataframe in a pickle format
** **

In [15]:
# Exporting new dataframe in pkl format
df_merged_large.to_pickle(os.path.join(path, '02. Data','Prepared Data', 'orders_products_combined.pkl'))